h2 {
    color: #565656; /* сірий колір для заголовків h2 */
}

li {
    color: #0404ba;   /* синій колір для пунктів списку */
    line-height: 1.5; /* висота рядка */
    font-size: 16pt;  /* розмір тексту */
}